.scene-primary {
  display: grid;
  grid-template-columns: 1fr 240px;

  &::after {
    content: "";
    background-image: radial-gradient(
      circle at center,
      transparent 35%,
      var(--color-primary) 35.5%
    );
  }
}
